<div class="home">
    <div class="introduction" [ngClass]="{'introduction-dark': config.dark}">
        <span class="introduction-promo">DESIGN  >>  DEPLOY  >>  PROCESS  >>  CHANGE</span>
        <div class="introduction-title">WYSIWYP - What you see is what you process!</div>
        <div class="introduction-subtitle">A state-of-the-art process architecture.</div>

        <a class="action-button" href="https://www.tcgprocess.com/" target="_blank">
            GET STARTED
        </a>
        <img alt="devices" class="introduction-devices" src="assets/showcase/images/home/intro-devices.png" />
    </div>

    <div class="features">
        <h4>Why TCG?</h4>
        <p>Congratulations! <span role="img" aria-label="celebrate" class="p-mx-2">🎉</span> We provide the essential building blocks for any digitalization strategy.</p>

        <p class="features-description">
            TCG manages the daily deluge of all important documents and data that is flooding your organization. TCG’s world-class products and technologies are designed to provide a flexible, easily adaptable, one-stop environment for all the input automation needs of your organization.
Its modern process automation software architecture, and highly scalable performance can support various deployment scenarios for companies and service providers alike.
TCG helps your organization adapt to the digital future and elevates your customers’ experience to a new level
        </p>

        <div class="p-grid">
            <div class="p-col-12 p-md-4">
                <div class="feature-card">
                    <img style="width: 90%;" alt="component" src="https://www.tcgprocess.com/fileadmin/_processed_/0/5/csm_DocProStar_Flyer_Icon_Capture_blue_rgb_7b83cfa9a8.png" />
                    <div class="feature-card-detail">
                        <div class="feature-name">TCG CAPTURES ALL</div>
                        <p>Any incoming document or data, regardless of format (paper, fax, email + attachments, PDFs, e-streams etc.) and regardless of channel (email, scanner, fax, mfp, mobile, chat etc.) is securely captured. All different inputs are then normalized to one single industry standard.</p>
                    </div>
                </div>
            </div>
            <div class="p-col-12 p-md-4">
                <div class="feature-card">
                    <img style="width: 90%;" alt="opensource" src="https://www.tcgprocess.com/fileadmin/_processed_/c/9/csm_DocProStar_Flyer_Icon_Understand__3__5055b375b9.png" />
                    <div class="feature-card-detail">
                        <div class="feature-name">TCG CREATES BUSINESS INTELLIGENCE</div>
                        <p>State-of-the-art technologies (including artificial intelligence and robotics) are applied to understand content. Subsequently, data from the documents is extracted in a highly automated process. By matching this data with database entries and checking it against business logic the ‘raw’ data is refined into actionable business intelligence</p>
                    </div>
                </div>
            </div>
            <div class="p-col-12 p-md-4">
                <div class="feature-card">
                    <img style="height: 130px;width: 90%;" alt="themes" src="https://www.tcgprocess.com/fileadmin/_processed_/0/b/csm_DocProStar_Flyer_Icon_Bot_Act_blue_rgb_14602c0730.png" />
                    <div class="feature-card-detail">
                        <div class="feature-name">TCG PROVIDES FULL-FEATURED ROBOTIC PROCESS AUTOMATION</div>
                        <p>By further combining the business intelligence obtained with automated and/or human decision making, DocProStar dynamically processes entire document-centric cases through all process steps up to the transactions.</p>
                    </div>
                </div>
            </div>
        </div>
    </div>

</div>
