.login-panel, .user-regisration {
    height: 100%;
    // background-image: url("assets/images/splash.jpg");
    background-repeat: no-repeat;
    background-size: cover;
}
.login-logo {
    height: 100%;
    width: 100%;
}